/* Universal Styles */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
    background-color: black;
}

div {
    display: flex;
    align-items: center;
    background-color: black;
}

a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

/* Header Styles */
.header {
    top: 0;
    border-bottom: 1px solid seashell;
    position: fixed;
    height: 69px;
    z-index: 10;
    width: 98%;
    margin: 0 auto;
}

.logo {
    height: 50px;
}

nav {
    margin-left: auto;
}

/* Our Mission Styles */
.mission {
    margin: 69px auto 0 auto;
    height: 700px;
    width: 91%;
    background-image: url("../images/background-images/img-mission-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mission-content {
    display: block;
    width: 100%
}

/* Tea of the Month Styles */
#tea {
    flex-direction: column;
    width: 76%;
    margin: 0 auto;
}

.tea {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: auto;
    width: 100%;
}

.tea-header {
    display: block;
    width: 100%;
}

.tea img {
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
}

.tea div {
    display: block;
}

/* Locations Styles */
#locations {
    flex-direction: column;
    margin: 0 auto;
    height: 500px;
    width: 91%;
    background-image: url("../images/background-images/img-locations-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.locations-header {
    display: block;
    width: 100%;
    background-color: transparent;
    margin-top: 15px;
}

.locations-content {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    opacity: 1;
    background-color: transparent;
}

.locations-content div {
    display: block;
    width: 300px;
    margin-bottom: 15px;
}

/* Contact Info Styles */
.contact {
    width: 91%;
    margin: 0 auto;
}

.contact div {
    display: block;
    margin: 0 auto;
}

/* Footer Styles */
footer {
    text-align: left;
    margin-left: 20px;
}